noderedFlow.json
[{"id":"4192bbd5.7f35bc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"249b035b.62b42c","type":"inject","z":"4192bbd5.7f35bc","name":"Query parameter","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":240,"wires":[["fbe632b6.c99aa"]]},{"id":"fbe632b6.c99aa","type":"function","z":"4192bbd5.7f35bc","name":"Query format","func":"var date = (new Date()).toISOString()\nvar hour = date.substring(11,13)\nvar day = date.substring(0,10)\nmsg.payload = \"start_date=\"+ day +\"T00:00&end_date=\"+day+\"T\"+hour+\":01\"+\"&time_trunc=hour\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["429270ab.9cb4f"]]},{"id":"429270ab.9cb4f","type":"change","z":"4192bbd5.7f35bc","name":"set msg.query","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":240,"wires":[["74029fd7.87425"]]},{"id":"74029fd7.87425","type":"http request","z":"4192bbd5.7f35bc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://apidatos.ree.es/es/datos/mercados/precios-mercados-tiempo-real?{{{query}}}","tls":"","proxy":"","authType":"","x":870,"y":240,"wires":[["1891cdf5.69850a"]]},{"id":"1891cdf5.69850a","type":"function","z":"4192bbd5.7f35bc","name":"JSON Filter","func":"arr = msg.payload.included[0].attributes.values;\nvar length = arr.length\nlet outputarr = []\nfor (var i = 0; i < length; i++) {\n    outputarr.push(arr[i].value)\n  }\n msg.payload=outputarr[length - 1]\nreturn msg;\n//.included.0.attributes.content.0.attributes.values.0.value","outputs":1,"noerr":0,"x":1050,"y":240,"wires":[["d9debea8.8956f8","58374c70.aa00a4"]]},{"id":"d9debea8.8956f8","type":"mqtt out","z":"4192bbd5.7f35bc","name":"Light prizes Publisher ","topic":"currentLightPrice","qos":"1","retain":"true","broker":"326ca7b6.517388","x":1260,"y":240,"wires":[]},{"id":"c614f463.072588","type":"mqtt in","z":"4192bbd5.7f35bc","name":"","topic":"turnWashingMachineOn","qos":"2","datatype":"auto","broker":"326ca7b6.517388","x":140,"y":420,"wires":[["8192879d.30b6e","724931ca.2efca"]]},{"id":"93107006.88822","type":"ui_text","z":"4192bbd5.7f35bc","group":"de03c06a.4dd258","order":0,"width":0,"height":0,"name":"","label":"Washing machine status","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":360,"wires":[]},{"id":"8192879d.30b6e","type":"function","z":"4192bbd5.7f35bc","name":"broadcaster","func":"return [msg, msg];","outputs":2,"noerr":0,"x":650,"y":420,"wires":[["93107006.88822"],["f187c626.e568f8"]]},{"id":"f187c626.e568f8","type":"mqtt out","z":"4192bbd5.7f35bc","name":"","topic":"washingMachineStatus","qos":"","retain":"","broker":"326ca7b6.517388","x":1010,"y":460,"wires":[]},{"id":"724931ca.2efca","type":"delay","z":"4192bbd5.7f35bc","name":"Washing time","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":500,"wires":[["ad867e0.d929e8"]]},{"id":"ad867e0.d929e8","type":"function","z":"4192bbd5.7f35bc","name":"turnOff","func":"msg.payload = \"OFF\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":500,"wires":[["8192879d.30b6e"]]},{"id":"58374c70.aa00a4","type":"debug","z":"4192bbd5.7f35bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1220,"y":160,"wires":[]},{"id":"326ca7b6.517388","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"de03c06a.4dd258","type":"ui_group","z":"","name":"Group 1","tab":"c7bcb73c.072b58","order":1,"disp":true,"width":"6","collapse":false},{"id":"c7bcb73c.072b58","type":"ui_tab","z":"","name":"Washing machine","icon":"dashboard","order":3,"disabled":false,"hidden":false}]